* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* ---------------
Header section Desing 
-------------------------- */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-sec {
    width: 80%;
    height: 80vh;
    background-color: rgba(11, 11, 11, 0.953);
    color: white;
    display: flex;
    border-radius: 15px;
}

.title {
    font-size: 50px;
    padding-bottom: 0;
}

.text {
    padding: 2% 10%;
}

.header-article {
    margin-bottom: 5%;
    font-size: 15px;
}

.button {
    text-decoration: none;
    background-color: rgb(171, 35, 11);
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 5%;
    color: white;
    font-weight: 700;
}

.button-white {
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 5%;
    color: black;
    font-weight: 700;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
    height: 100%;
    padding: 0 10%;
}

/* -------------------------
----Button section design---
-------------------------------  */
.button-sec {
    height: 312px;
    width: 312px;
    background-color: black;
    margin-top: 10px;

}

.button-blogs {
    display: flex;
    padding: 5%;
    justify-content: center;

}

.button-item {
    height: 252px;
    width: 252px;
    display: flex;
    flex-direction: column;
    padding: 20% 5%;
    margin: 10px;
    border: 20px 0;
}

/* blog section design  */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 5px;

}

.blog {
    padding: 5px;
    border: solid lightgrey;
    border-radius: 5px;
    margin: 10px;
}

.blog-text {
    padding: 10px 5px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 30%;
    margin: 10px;
}

.special-button {
    background-color: rgb(171, 35, 11);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 5% 40%;
    visibility: hidden;
}

.sp-button-item {
    text-decoration: none;
    color: white;
}

/* --------------Footer part ------- */
footer {
    background-color: rgba(10, 10, 20, 0.616);
}

.footer-details {
    padding: 10%;
}

.footer-header {
    text-align: center;
    margin-bottom: 20px;
}

.footer-option {
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    margin-top: 10px;
}

.op-name {
    font-weight: 700;
}


/* ------------------------social link ------------------ */

.social-link {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.link {
    margin-left: 5%;
    size: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

/* ----------------------
responsible section 
------------------------- */


/* ----------Medium device ------------ */
@media screen and (min-width:577px) and (max-width:992px) {
    .button-blogs {
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-option {
        flex-wrap: wrap;
    }

    .first-sec {
        width: 80%;
        height: 80vh;
        background-color: rgba(11, 11, 11, 0.953);
        color: white;
        display: flex;

        border-radius: 15px;
        margin-top: 10px;
    }

    .title {
        font-size: 30px;
        padding-top: 20px;
    }

    .special-button {
        visibility: visible;
    }

}

/*----------------------- Mobile device------------------------  */
@media screen and (max-width:576px) {
    .first-sec {
        width: 80%;
        height: 110vh;
        background-color: rgba(11, 11, 11, 0.953);
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        margin-top: 10px;
    }

    .title {
        font-size: 20px;
        padding-top: 20px;
    }


    .half-width {
        width: 100%;
        padding: 5%;
        margin: 5%;

    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .button-blogs {
        flex-direction: column;
        margin-top: 40px;
    }

    .footer-option {
        /* flex-wrap: wrap; */
        display: flex;
        flex-direction: column;
    }

    .footer-option {
        margin: 5%;
    }

    .op-name {
        margin-top: 5%;
    }

}